<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <style>
        /* Style for the first h2 element */
        h2#heading1 {
            color: red;
        }

        /* Style for the second h2 element */
        h2#heading2 {
            color: green;
        }
    </style>
</head>
<body>
    <h2 id="heading1">Please do not Refresh or Go Back</h2>
    <h1>Booking Done!!!</h1>
    <h3>Reservation ID : {{reservation_id}}</h3>
    <h3>Seats:</h3>
    <ul>
        {% for seat in seats %}
            <li>
                Seat Number: {{ seat.seat_number }}, Cabin: {{ preferred_cabin }}
            </li>
        {% endfor %}

    <h2 id="heading2">Total Fare: Rs.{{total_fare}}</h2>

    <a href="{% url 'make_payment' total_fare %}">Goto Payment Page</a>

</body>
</html>