<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        {% if available_cabins %}
            <h2>Available Cabins:</h2>
            <ul>
                {% for cabin in available_cabins %}
                    <li>
                        <a href="{% url 'select_cabin' cabin.id  num_members %}">Select Cabin {{ cabin.name }}</a>
                        <p></p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No cabins with enough seats are available.</p>
            <p></p>
            <a href="{% url 'home' %}"><b>Go Back to Homepage</b></a>
        {% endif %}
    </div>
</body>
</html>